{% extends 'common.html' %}
{% load rest_framework %}

{% block title %}Login{% endblock title %}

{% block content %}
        <div class="col-sm-4">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                 {% render_form serializer %}
                <button onclick="send_data()" type="button" class="btn btn-primary mt-3">Login</button>
            </form>
        </div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        function send_data() {
            form = document.getElementsByTagName("form")[0]
            let formdata = new FormData(form)
            let data = {}
            for (const pair of formdata.entries()) {
                data[pair[0]] = pair[1]
            }
            crsf_token = document.getElementsByName("csrfmiddlewaretoken")[0]
            crsf = crsf_token.value
            let serializedData = JSON.stringify(data)
            $.ajax({
                type: 'POST',
                url: '{% url 'Login-login' %}',
                data: {
                    "csrfmiddlewaretoken": crsf,
                    "data": serializedData
                },
                success: function (response) {
                    console.log(response)
                    window.location.href = response
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            })
        }
    </script>
{% endblock javascript %}