{% extends 'base.html' %}
{% block page_content %}
    {% block body_block %}
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-6 align-self-center">
                <h2>Login Your Account</h2>
                <form method="post">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Login</button>
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock page_content %}