{% extends "common.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/leaderboards.css">
    <div class="col-sm">
        <select onchange="select_boards()">
            {% for diff in difficulties %}
                <option
                        {% if diff == difficulty %}
                            selected
                        {% endif %}>
                    {{ diff }}</option>
            {% endfor %}
        </select>

        <table class="table table-sm table-responsive table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Rank</th>
                <th>User Name</th>
                {#                <th>Difficulty</th>#}
                <th>Time of play (UTC)</th>
                <th>Duration (s)</th>
            </tr>
            </thead>
            <tbody>
            {% for result in leaderboards %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ result.UserId }}</td>
                    {#                    <td>{{ result.Difficulty }}</td>#}
                    <td>{{ result.Time }}</td>
                    <td>{{ result.Duration }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block javascript %}
    <script type="text/javascript">
        function select_boards() {
            console.log("aaaa")
            let difficulty = event.target.options[event.target.selectedIndex].text
            base_url = "{% url "Sudoku-leaderboards-view" difficulty="placeholder"%}"
            window.location.href = base_url.replace('placeholder', difficulty)
        }
    </script>

{% endblock javascript %}