{% extends "common.html" %}
{% load sudoku_extras %}

{% block content %}

    <h1>Sudoku</h1>
    <link rel="stylesheet" href="/static/sudoku.css">
    <div class="sudoku-board">
        <table id='Sudoku' class="table-responsive table-bordered">
            <tbody>
            {% for row in grid %}
                <tr>
                    {% for cell in row %}
                        {% get_width forloop.parentloop.counter as width_top %}
                        {% get_width forloop.counter as width_left %}
                        <td onclick="select_cell()" style="border-left-width: {{ width_left }}; border-top-width:
                                {{ width_top }}; text-align: center; font-size:24px; width: 40px; height:40px">
                            {% if cell != 0 %}
                                {{ cell }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="number-picker">
        <p>Number Selector</p>
        <table class="table-responsive table-bordered">
            <tbody>
            <tr>
                {% for cell in '123' %}
                    <td onclick="fill()" style="text-align: center; font-size:24px; width: 40px; height: 40px">
                        {{ cell }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for cell in '456' %}
                    <td onclick="fill()" style="text-align: center; font-size:24px; width: 40px; height: 40px">
                        {{ cell }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for cell in '789' %}
                    <td onclick="fill()" style="text-align: center; font-size:24px; width: 40px; height: 40px">
                        {{ cell }}
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <button onclick="erase()">Erase</button>
        <button onclick="new_game()">New Game</button>
        <select id="Difficulty">
            {% for difficulty in difficulties %}
                <option>{{ difficulty }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}
{% block javascript %}
    <script onload="init()" type="text/javascript">
        let selected = document.getElementsByTagName('td')[0];
        let coords = get_coords(selected);
        selected.style.backgroundColor = '#FFF8DC';
        let completed_grid = {{ completed_grid|safe }};
        let original_grid = {{ grid|safe }};
        let difficulties = {{ difficulties|safe }};
        let current_grid = JSON.parse(JSON.stringify(original_grid));
        let solving_start = new Date();
        let solving_end = new Date();
        let result = {
            'Duration': "",
            'Time': new Date(),
            'Difficulty': ""
        }
        let selected_difficulty = ""

        let x = new Date(Date.now())
        console.log(x)
        console.log(x.toLocaleTimeString())

        function init() {
            new_game()
        }

        function erase() {
            selected.textContent = ""
            selected.style.backgroundColor = '#FFF8DC'
        }

        function fill() {
            filler = event.target
            number = Number(filler.textContent)
            selected.textContent = number
            mark_selected_solution()
            set_current_grid_value(current_coords, number)
            check_solved()
        }

        function select_cell() {
            console.log(original_grid)
            let original_value = index_grid(original_grid, get_coords(event.target))
            console.log(original_value)
            if (original_value == 0) {
                if (selected.style.backgroundColor != 'red') {
                    selected.style.backgroundColor = 'white'
                }
                selected = event.target
                if (selected.style.backgroundColor != 'red') {
                    selected.style.backgroundColor = '#FFF8DC'
                }
                current_coords = get_coords(selected)
            }
        }

        function get_coords(element) {
            let coordinations = [element.parentElement.rowIndex, element.cellIndex]
            return coordinations
        }


        function index_grid(selected_grid, coords) {
            return selected_grid[coords[0]][coords[1]]
        }

        function set_current_grid_value(coords, value) {
            current_grid[coords[0]][coords[1]] = value
        }

        function check_solved() {
            if (JSON.stringify(current_grid) == JSON.stringify(completed_grid)) {
                sudoku_finished()
            }
        }

        function mark_selected_solution() {
            let number = Number(selected.textContent)
            if (index_grid(completed_grid, current_coords) != number) {
                selected.style.backgroundColor = 'red'
            } else {
                selected.style.backgroundColor = '#FFF8DC'
            }
        }

        function init_sudoku_data(response) {
            completed_grid = response['completed_grid'];
            original_grid = response['grid'];
            console.log(original_grid)
            current_grid = JSON.parse(JSON.stringify(original_grid));
            let board = document.getElementById("Sudoku")
            original_grid.forEach((row, row_index) => {
                row.forEach((cell, cell_index) => {
                    if (cell != 0) {
                        board.rows[row_index].cells[cell_index].textContent = cell
                    } else {
                        board.rows[row_index].cells[cell_index].textContent = ""
                    }
                })
            })
            selected = document.getElementsByTagName('td')[0];
            coords = get_coords(selected);
            selected.style.backgroundColor = '#FFF8DC';
            result = {
                'Duration': new Date(),
                'Time': new Date(),
                'Difficulty': ""
            }
            solving_start = Date.now()
        }

        function sudoku_finished() {
            solving_end = Date.now()
            result['Time'] = new Date()
            result['Time'].getTime()
            result['Time'] = result['Time'].toISOString().split('T')[0]
            result['Duration'] = (solving_end - solving_start)/1000
            console.log(result['Duration'])
            result['Difficulty'] = selected_difficulty
            $.ajax({
                    type: 'POST',
                    {#contentType: false,#}
                    {#processData: false,#}
                    url: '{% url 'Sudoku-send-result' %}',
                    data: result,
                    success: function (response) {
                        alert("Congratulations!")
                    },
                    error: function (response) {
                        alert(response["responseJSON"]["error"]);
                    }
                }
            )
        }

        function new_game() {
            let data = {}
            difficulty_selector = document.getElementById("Difficulty")
            difficulty = difficulty_selector.options[difficulty_selector.selectedIndex].text
            selected_difficulty = difficulty
            data['Difficulty'] = selected_difficulty
            data['Size'] = 9
            $.ajax({
                    type: 'GET',
                    url: '{% url 'Sudoku-generate-new' %}',
                    data: data,
                    success: function (response) {
                        console.log(response)
                        init_sudoku_data(response)
                    },
                    error: function (response) {
                        alert(response["responseJSON"]["error"]);
                    }
                }
            )
        }

    </script>
{% endblock javascript %}